.title {
  color: #e1f4f3;
}

body {
  background-image: url('/static/img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.navbar {
  background-color: #333333;
}

a {
  color: #f1f9f9;
}

a:hover {
  color: #f0f0f0;
}

.card {
  border-radius: 1rem;
  background-color: hotpink;
}

.prediction-text {
  text-align: center;
}